{% block html_head_container %}

{% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

  <body class="{{body_class}}" data-template="base.twig">
      <div class="Wrapper">
          <header class="Header">
              <h1 class="Logo">
                  <a href="/" rel="home">{{site.name}}</a>
              </h1>
              <div class="Banner" role="banner">
                  <nav>
                      {% block header %}
                      {% include 'navigation.twig' %}
                      {% endblock %}
                  </nav>
                  <div class="Nav-toggle js-toggle-wrapper">
                      <a class="Toggle" href=""></a>
                  </div>
              </div>
          </header>

          {% block content %}
          <div class="Content" id="content" role="main">
              Nothing here.
          </div>
          {% endblock %}

      {#
      <div class="Wrapper-middle" id="content" role="main">
            {% block content_middle %}
            {% endblock %}
      </div>
      <div class="Wrapper-right" id="content" role="main">
        <div class="Wrapper-right-container">
            {% block content_right %}
            {% endblock %}
        </div>
      </div>
      #}

    </div><!-- /.wrapper -->

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{site.theme.link}}/js/main.js"></script>
    {{ fn('wp_footer') }}
  </body>
</html>
