<div class="Image {{extra_class}}">
  <img src="{{TimberImage(img).src('large')}}" alt="">
  {% if TimberImage(img).caption %}
  <ul class="Image-caption">
    {% if TimberImage(img).caption %}
    <li class="Image-caption-item">{{ TimberImage(img).caption }}</li>
    {% endif %}
  </ul>
  {% endif %}
</div>
