<nav class="Nav Nav--primary" role="navigation">
  <ul>
    {% for item in menu.get_items %}
    <li class="Nav-item {% if item.current %}is-active {% endif %}{% if item.children|length %}Nav-item--hasChildren {% endif %}">
      <a href="{{item.get_link}}">{{item.title}}</a>
      {% if item.get_children %}
      <ul>
        {% for child in item.get_children %}
        <li class="Nav-item {% if child.current %}is-active{% endif %}">
          <a href="{{child.get_link}}">{{child.title}}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>

