{% extends "base.twig" %}

{% block content %}
{% embed "layout.twig" %}

  {% block main %}
  {% set featured = TimberPost(post.get_field('featured_post')) %}

  <div class="HorizontalTable">
    <div class="HorizontalTable-cell HorizontalTable-cell--article">
      <div class="HorizontalTable-cell-container HorizontalTable-cell-container--img">
        <div class="Tease">
          {% include 'image-with-caption.twig' with {'img':TimberImage(featured.gallery[0]), 'extra_class': 'Image--single' } %}
          <a href="{{featured.link}}">
            <h2>{{ featured.title }}</h2>
          </a>
        </div>
      </div>
    </div>
  </div> <!--- /.HorizontalTable -->

  {% endblock %}
{% endembed %}
{% endblock %}
