/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

// Additional Boostrap configuration
@container-large-desktop: @container-desktop;

@import "curate-projects/base.less";
@import "curate-projects/header.less";
@import "curate-projects/navigation.less";
@import "curate-projects/footer.less";
@import "curate-projects/comments.less";
@import "curate-projects/gallery-header.less";



/* ==========================================================================
    Content
    ========================================================================== */

.content {

    figure,
    img {
        max-width: 100%;
        height: auto;
    }

    figure {
      border: 0;
      padding: 0;
    }

    img {
        margin-bottom: @line-height-computed;
    }

    figure img {
      margin-bottom: 0;
    }

}



/* ==========================================================================
    Primary Content
    ========================================================================== */

.main {

    .lead {
        font-size: 1.2em;
        line-height: 1.8;
        margin-bottom: 30px;

    }

    @media (min-width: @screen-md-min) {

        .columns {
            text-align: justify;
            -webkit-column-count: 2;
               -moz-column-count: 2;
                    column-count: 2;
            -webkit-column-gap: 30px;
               -moz-column-gap: 30px;
                    column-gap: 30px;
            -webkit-column-rule: 1px solid #e7e7e7;
               -moz-column-rule: 1px solid #e7e7e7;
                    column-rule: 1px solid #e7e7e7;
        }

    }

}

/* Gallery Shortcode */
.carousel {
    margin: 30px 0;
}

.gallery-row {
    padding: 30px 0;
}



/* ==========================================================================
    Sidebar
    ========================================================================== */

.sidebar { }



/* ==========================================================================
    Posts
    ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
    WordPress Generated Classes
    See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
    ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
     Media Queries
     ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
