/**
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components. That is done in `theme-map.css`.
 */

/**
 * Breakpoints
 */

@custom-media --sm-and-above (min-width:320px);
@custom-media --sm-viewport (min-width:320px) and (max-width:520px);
@custom-media --sm-viewport-plus (min-width:320px);

@custom-media --md-viewport (min-width:668px) and (max-width:960px);
@custom-media --md-viewport-plus (min-width:668px);

@custom-media --lg-viewport (min-width:960px);


@custom-media --sm-height-viewport (min-height:320px);
@custom-media --md-height-viewport (min-height:560px);
@custom-media --lg-height-viewport (min-height:960px);

/**
 * Colors
 */

:root {
  --color-twitter-blue: #55acee;
  --color-white: #fff;

  /* Primary grays */
  --color-dark-gray: #111;
  --color-medium-gray: #222;
  --color-gray: #666;
  --color-faint-gray: #999;

  --color-charcoal: #292f33;
  --color-border-gray: #e1e8ed;

  /* Primary blues */
  --color-dark-blue: #226699;
  --color-deep-blue: #3b88c3;
  --color-light-blue: #88c9f9;

  /* Secondary colors */
  --color-orange: #ffac33;
  --color-green: #77b255;
  --color-purple: #9266cc;
  --color-red: #dd2e44;
  --color-yellow: #ffcc4d;

  /* Secondary color variants */
  --color-dark-orange: #f4900c;
  --color-dark-green: #3e721d;
  --color-dark-purple: #553788;
  --color-dark-red: #a0041e;
  --color-deep-green: #5c913b;
  --color-deep-purple: #744eaa;
  --color-deep-red: #be1931;
  --color-light-yellow: #ffd983;
  --color-light-green: #a6d388;
  --color-light-purple: #aa8dd8;
  --color-light-red: #ea596e;
  --color-faded-yellow: #ffe8b6;
  --color-faded-green: #c6e5b3;
  --color-faded-blue: #bbddf5;
  --color-faded-purple: #cbb7ea;
  --color-faded-red: #f4abba;
}

/**
 * Fonts
 * http://www.modularscale.com/?14,28&px&1.618&web&text
 */

:root {
  --font-size: 0.75rem; /* 28 */
  --font-family-sans: 'Noto Sans', sans-serif;
  --font-family-serif: 'bitstream_vera_serifroman', serif;
  --font-family-serif-bold: 'bitstream_vera_serifbold', serif;
  --line-height: 2.5; /* 28 */
  --line-height-pixels: 28;
  --app-height: 504px;
}

/**
 * Spacing
 */

:root {
  --space-small-px: 10px;
  --space-medium-px: 15px;
  --space-large-px: 20px;
}
