/**
 * base
 */

:root {
  --background-base: var(--color-white);
  --color-base: var(--color-medium-gray);
  --color-logo: var(--color-medium-gray);
  --font-base: var(--font-size)/var(--line-height) var(--font-family-serif);
  --link-color-base: var(--color-medium-gray);
  --link-color-hover-base: var(--color-dark-orange);
}

/**
 * components-arrange
 */

:root {
  --gutter-size-Arrange: var(--space-small-px);
}

/**
 * components-grid
 */

:root {
  --gutter-size-Grid: var(--space-large-px);
  --gutter-size-Grid: var(--space-large-px);
}

/**
 * Wrapper
 */
:root {
  --Wrapper-logo-block-height: calc(var(--line-height-pixels)*4px);
  --Wrapper-logo-block-height-sm: calc(var(--line-height-pixels)*3px);
  --Wrapper-left-padding: var(--space-large-px);
  --Wrapper-left-width-sm: 200px;
  --Wrapper-left-width-total-sm: calc(var(--Wrapper-left-width-sm)+var(--Wrapper-left-padding));
  --Wrapper-middle-width-total-sm: 420px;

  --Wrapper-height: var(--app-height);
}

/**
 * Logo
 */

:root {
  --Logo-height-sm: 60px;
  --Logo-height-lg: 92px;
  --Logo-ratio: 145/200;
  --Logo-icon-width: 38px;
  --Logo-icon-height: calc(var(--Logo-icon-width)*var(--Logo-ratio));
  --Logo-font-family: var(--font-family-sans);
  --Logo-left-padding: var(--space-small-px);
}


/**
 * Banner
 */
:root {
  --Banner-left-padding: var(--space-small-px);
}

/**
 * Content
 */
:root {
}

/**
 * Horizontal scroll table.
 */

:root {
  --HorizontalTable-height: calc(var(--line-height-pixels)*15px);
  --HorizontalTable-height-img: calc(var(--line-height-pixels)*18px);
  --HorizontalTable-min-width: calc(var(--line-height-pixels)*15px);
}

/**
 * Nav
 */

:root {
  --Nav-padding-left: var(--space-large-px);
}

/**
 * Toggle
 */

:root {
  --Toggle-bar-height: 5px;
  --Toggle-bar-spacing: 4px;
}

/**
 * Tease
 */

:root {
  --Tease-image-padding: var(--space-small-px);
}

/**
 * Content
 */

:root {
  --Content-sm-padding: var(--space-small-px);
}
