
/* ==========================================================================
   Updated variables
   ========================================================================== */

@border-radius-base: 0;

@headings-font-weight: 400;
@btn-font-weight: 400;

@alert-link-font-weight: 700;
@badge-font-weight: 700;
@close-font-weight: 700;

/* ==========================================================================
   Base
   ========================================================================== */

body {
    color: #111;
    font-family: 'Noto Sans', sans-serif;
    line-height: 2;
}

h1 {
    margin-bottom: @line-height-computed*1.5;
    margin-top: @line-height-computed*1.5;
}

h2, h3 {
    margin-bottom: @line-height-computed;
}
