
/* ==========================================================================
   Updated variables
   ========================================================================== */

@navbar-default-color: #666;
@navbar-default-bg: #fff;


// Basics of a navbar
@navbar-height: 100px;
@navbar-margin-bottom: 0;

@navbar-default-color: #666;
@navbar-default-bg: #fff;

// Navbar links
@navbar-default-link-color: #777;
@navbar-default-link-hover-color: #333;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: #333;
@navbar-default-link-active-bg: transparent;

// Navbar brand label
@navbar-default-brand-color: #000;
@navbar-default-brand-hover-color: @navbar-default-brand-color;



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.navbar-brand {
    font-size: 32px;
    padding-left: 42px + @navbar-padding-horizontal;
    background: transparent url(../img/logo.png) @navbar-padding-horizontal center no-repeat;
    background-size: 34px;
    opacity: 0.5;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.75;
    }
}
