
/* ==========================================================================
   Updated variables
   ========================================================================== */

@navbar-default-color: #666;
@navbar-default-bg: #fff;

// Basics of a navbar
@navbar-height: 140px;
@navbar-margin-bottom: 0;

@navbar-default-color: #666;
@navbar-default-bg: #fff;
@navbar-default-border: @navbar-default-bg;

// Navbar links
@navbar-default-link-color: #444;
@navbar-default-link-hover-color: #222;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: #222;
@navbar-default-link-active-bg: transparent;

// Navbar brand label
@navbar-default-brand-color: #666;
@navbar-default-brand-hover-color: #555;



/* ==========================================================================
   Header
   ========================================================================== */

.banner {
    border-bottom: 1px solid darken(@navbar-default-bg, 6.5%);
}

.navbar-brand {
    font-size: 30px;

    @media (min-width: @screen-xs-min) {
        font-size: 48px;
    }

    @media (min-width: @screen-sm-min) {
        font-size: 54px;
    }
}

@media (min-width: @screen-sm-min) {
    .navbar-header:after {
        background: transparent url(../img/logo.png) right 35px no-repeat;
        background-size: 145px;
        content: '';
        display: block;
        height: 140px;
        margin-right: -375px;
        opacity: 0.5;
        position: fixed;
        right: 50%;
        top: 0;
        width: 145px;

        @media (min-width: @screen-md-min) {
            margin-right: -484px;
        }
    }
}

.site-nav {
    position: relative;
    z-index: @zindex-navbar-fixed;
    top: -20px;

    > li {
        margin-right: @navbar-padding-horizontal;
    }

    > li > a {
        color: @navbar-default-link-color;

        &:hover,
        &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
        }
    }
    > .active > a {
        font-weight: 700;

        &,
        &:hover,
        &:focus {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-link-active-bg;
            text-decoration: none;
            cursor: default;
        }
    }
    > .disabled > a {
        &,
        &:hover,
        &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
        }
    }
}
