.Banner {
  height: 1px;
  padding-left: var(--Banner-left-padding);
  /* padding-top: var(--Logo-height-sm); */
  width: 1px;
  position: relative;
  z-index: 0;
}

@media(--sm-viewport-plus){
  .Banner {
    width: 200px;
    float: left;
    z-index: 0;
    padding-top: 0;
  }
}
