.Banner {
  padding-bottom: var(--Banner-left-padding);
  padding-left: var(--Banner-left-padding);
  width: 100%;
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
}

.Banner.is-open {
  height: 100%;
}

@media(--md-viewport-plus){
  .Banner {
    height: auto;
    width: var(--Banner-width);
    float: left;
    z-index: 0;
    padding-top: 0;
    position: relative;
  }
}
