@media(--md-viewport-plus){
  .HorizontalTable {
    display: table;
    table-layout:fixed;
  }

  .HorizontalTable-cell {
    display: table-cell;
    vertical-align: top;
  }

  .HorizontalTable-cell-container {
    height: var(--HorizontalTable-height);
  }

  .HorizontalTable-cell-container {
    width: var(--HorizontalTable-min-width);
    max-height: var(--HorizontalTable-height);
  }

  .HorizontalTable-cell-container--img {
    height: var(--HorizontalTable-height-img);
    /*margin-top: calc(0-(var(--HorizontalTable-height-img)-var(--HorizontalTable-height))); */
    width: auto;
    max-height: none;
  }
}

