.HorizontalTable-cell--article {
  padding: 0 var(--space-small-px);
}

@media(--md-viewport-plus){
  .HorizontalTable {
    display: table;
    table-layout:fixed;
  }

  .HorizontalTable-cell {
    display: table-cell;
    vertical-align: top;
  }

  .HorizontalTable-cell--article .HorizontalTable-cell-container {
    width: 380px;
  }

  .HorizontalTable-cell-container {
    height: var(--HorizontalTable-height);
    width: var(--HorizontalTable-min-width);
    max-height: var(--HorizontalTable-height);
  }

  .HorizontalTable-cell--img .HorizontalTable-cell-container {
    height: var(--HorizontalTable-height);
    width: auto;
    max-height: none;
  }
}

