.Logo {
  /* position: fixed; */
  font-family: var(--Logo-font-family);
  font-size: 1.5rem;
  z-index: 3;
  padding-left: var(--Logo-left-padding);
}

.Logo a {
  text-transform: uppercase;
  padding-right: 56px;
  text-decoration: none;
  color: var(--color-logo);
  position: relative;
}

.Logo a:after {
  background: transparent url(assets/img/logo.png) 0 0 no-repeat;
  background-size: var(--Logo-icon-width);
  content: '';
  display: block;
  height: var(--Logo-icon-height);
  opacity: 1;
  position: absolute;
  top: 8px;
  right: 10px;
  width: var(--Logo-icon-width);
}

@media(--sm-viewport-plus){
  .Logo {
    font-size: 1.75rem;
    position: static;
  }

  .Logo a:after {
    top: 12px;
  }
}
