.Nav-item > a {
  color: var(--link-color-base);
  text-decoration: none;
}

.Nav-item.is-active > a,
.Nav-item > a:hover {
  color: var(--link-color-hover-base);
  text-decoration: none;
}
.Nav--primary .Nav-item ul {
  padding-left: var(--Nav-padding-left);
}
