.Nav-item a {
  display: block;
  height: 1.75rem;
}

.Nav-item > a {
  color: var(--link-color-base);
  text-decoration: none;
}

.Nav-item.is-active > a,
.Nav-item > a:hover {
  color: var(--link-color-hover-base);
  text-decoration: none;
}

.Nav li[aria-selected='true'] a {
  color: var(--link-color-hover-base);
}

.Nav--primary {
  display: none;
}

.Nav--primary.is-open {
  display: block;
}

.Nav--primary .Nav-item ul {
  padding-left: var(--Nav-padding-left);
}

.Nav-toggle {
  position: absolute;
  top: -calc(var(--space-large-px)*2);
  right: var(--space-small-px);
  width: var(--Toggle-bar-width);
  height: calc(var(--Toggle-bar-height)*3 + var(--Toggle-bar-spacing)*2);
  cursor: pointer;
}

@media(--md-viewport-plus){
  .Nav--primary {
    display: block;
  }

  .Nav-toggle {
    display: none;
  }
}
