@media(--md-viewport-plus){
  .ProjectContent {
    height: var(--ProjectContent-height);
    width: 100%;
    max-width: var(--ProjectContent-width);
    box-sizing: border-box;
    padding-left: 0;
  }
}

.ProjectContent {
  max-width: none;
  padding-left: var(--space-small-px);
}
