.ProjectContent {
  height: var(--ProjectContent-height);
  width: 100%;
  max-width: var(--ProjectContent-width);
  box-sizing: border-box;
}
@media(--sm-viewport){
  .ProjectContent {
    max-width: none;
  }
}
