.Tease {
}

.Tease img {
  display: block;
  max-width: 100%;
}

.Tease h2, .Tease h3 {
  margin-top: 0.8571428rem;
}

.Tease a {
  color: var(--link-color-base);
  text-decoration: none;
}

.Tease a:hover,
.Tease a:focus
.Tease a:active {
  color: var(--link-color-hover-base);
}
