.Toggle {
  display: block;
  width: var(--Toggle-bar-width);
  height: var(--Toggle-bar-height);
  background-color: var(--color-medium-gray);
  position:absolute;
}

.Toggle:after, .Toggle:before {
  content: '';
  width: 100%;
  height: var(--Toggle-bar-height);
  background-color: var(--color-medium-gray);
  display: block;
  margin-top: var(--Toggle-bar-spacing);
}

.Toggle:before {
  margin-top: calc(var(--Toggle-bar-height) + var(--Toggle-bar-spacing));
}

