.Wrapper {
  height: 100%;
}

.Wrapper-logo {
  position: absolute;
  z-index: 30;
  left: var(--Wrapper-left-padding);
  line-height: var(--Wrapper-logo-block-height);
  height: var(--Wrapper-logo-block-height);
}

@media(--sm-viewport){
  .Wrapper-logo {
    height: var(--Wrapper-logo-block-height-sm);
    line-height: var(--Wrapper-logo-block-height-sm);
  }
}

.Wrapper-left {
  background: rgba(255,255,255,0.95);
  height: var(--Wrapper-height);
  float: left;
  overflow: hidden;
  padding-left: var(--Wrapper-left-padding);
  padding-top: var(--Wrapper-logo-block-height);
  position: relative;
  width: var(--Wrapper-left-width-sm);
  z-index: 20;
}

@media(--sm-viewport){
  .Wrapper-left {
    height: 1px;
    padding-left: 0;
    position: fixed;
    width: 1px;
    padding-top: var(--Wrapper-logo-block-height-sm);
  }
  .Wrapper-left.is-open {
    height: var(--Wrapper-height);
    padding-left: var(--Wrapper-left-padding);
    width: 100%;
  }
}

.Wrapper-left-container {
  width: var(--Wrapper-left-width-sm);
}

.Wrapper-middle {
  height: var(--Wrapper-height);
  float : left;
  padding-top: var(--Wrapper-logo-block-height);
  padding-left: var(--Wrapper-left-width-total-sm);
  position: absolute;
  top: 0;
  z-index: 10;
  background: rgba(255,255,255,0.95);
}

@media(--sm-viewport){
  .Wrapper-middle {
    padding-left: 0;
    padding-top: var(--Wrapper-logo-block-height-sm);
  }
}

.Wrapper--noMiddle .Wrapper-middle {
  display: none;
}

.Wrapper-right {
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: white;
  width: 100%;
}

.Wrapper-right-container {
  height: 100%;
  box-sizing: border-box;
  padding-top: var(--Wrapper-logo-block-height);
  overflow-x: scroll;
  padding-left: calc(var(--Wrapper-left-width-total-sm)+var(--Wrapper-middle-width-total-sm));
}

.Wrapper--noMiddle .Wrapper-right-container {
  padding-left: var(--Wrapper-left-width-total-sm);
}

.admin-bar .Wrapper-right {
  top: -32px;
}

.admin-bar .Wrapper-right-container {
  margin-top: 32px;
}

@media(max-width:782px){
  .admin-bar .Wrapper-right {
    top: -46px;
  }
  .admin-bar .Wrapper-right-container {
    margin-top: 46px;
  }
}

.Wrapper-toggle {
  position: absolute;
  left: var(--Wrapper-left-width-sm);
  top:  0;
  z-index: 30;
  margin-top: 10px;
  transition: left 1s;
}

@media(--md-viewport-plus){
  .Wrapper-toggle {
    display: none;
  }
}

.admin-bar .Wrapper-toggle {
  padding-top: 32px;
}

@media(max-width:782px){
  .admin-bar .Wrapper-toggle {
    padding-top: 46px;
  }
}
